<!doctype html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
 <link href="/editTodo/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <main>
      <aside class="editTodo">
      <%- include("../partials/redirectHome") %>
      <h1>Edit Todo list Section</h2>
        <form action="/api/v1/todo-management/todos/<%= todoWithId.id %>" method="post">
            <input type="hidden" name="_method" value="put" />
          <div class="formGroup" >
            <label for="name"> * Name:</label>
            <input
              type="text"
              name="name"
              id="name"
              value="<%= todoWithId.name %>"
              placeholder="Set Name here!"
              autocomplete="off"
              required
              aria-required="true"
              pattern=".{3,}" 
              title="Please enter at least 3 characters"
            />
          </div>
          <span id="nameError"></span>
          <div class="formGroup">
            <label for="description"> * Description:</label>
            <textarea
              name="description"
              placeholder="Set Description here!"
              rows="5"
              cols="3"
              autocomplete="off"
              id="description"
              style="resize: none;"
              required
              aria-required="true"
            ><%= todoWithId.description %></textarea>
          </div>
          <span id="descriptionError"></span>
          <div class="formGroup">
            <label for="isComplete"> Complete Status : </label>

            <% if(!todoWithId.isComplete) {%>
                <input type="checkbox" id="isComplete" name="isComplete" value="off" !checked/>
            <%} else{ %>
                <input type="checkbox" id="isComplete" name="isComplete" value="on" checked/>
            <%} %>
          </div>
          <div class="formGroup">
            <label for="date">* Date: </label>
            <input type="date" id="date" name="date" min="2023-01-01" max="2025-01-01" value="<%= formattedDate %>" required aria-required="true"/>
          </div>
          <span id="dateError"></span>
          <button type="submit">Edit todo</button>
        </form>
      </aside>
    </main>
  </body>
</html>
