<!doctype html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/home/style.css" type="text/css" />
  </head>
  <body>
    <main>
      <section id="homepage">
        <h1>Todo List Application</h1>
        <h2>Today Date : <%= new Date(Date.now()).toDateString() %></h2>
        <div class="menuContainers">
          <%- include("../partials/redirectHome") %>
          <a class="addTodo" href="/view/todo-management/addTodo">Add Todo</a>
        </div>
        <h3>Filter By :</h3>
        <div class="filterGroup">
          <a href="/view/todo-management/homepage?isDone=true">Done</a>
          <a href="/view/todo-management/homepage?isDone=false">Pending</a>
          <a href="/view/todo-management/homepage?today=true">Today</a>
          <a href="/view/todo-management/homepage?upcoming=true">Upcoming</a>
        </div>
        <ul>
          <% todos && todos.map((todo) => { %>
          <li>
            <h3><%= todo.name %></h3>
            <p
              style="
                font-size: 14px;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
              "
            >
              <%= todo.description %>
            </p>
            <p style="font-size: 14px">
              <%= !todo.isComplete ? "Working on it!" : "Complete" %>
            </p>
            <p style="font-size: 13px">
              <%= new Date(todo.date).toDateString() %>
            </p>
            <div class="todoButtons">
              <a href="/view/todo-management/editTodo/<%=todo.id%>">Edit </a>
              <a href="/view/todo-management/delete/<%= todo.id%>">Delete </a>
            </div>
          </li>
          <% }) %>
        </ul>
      </section>
    </main>
  </body>
</html>
